/*
!.env
!config
!config
!bin
!.gitignore
!README.md
!docker-compose.yml
!code/
code/*
!code/app/
code/app/*
!code/app/design
!code/app/code
!code/.gitignore
!code/app/i18n
code/wp-config.php
!code/composer.json
!code/Gruntfile.js